@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* header*/

header{
    width: 100vw;
}

.cabeza_contenedor{
    display: flex;
    background-color: black;
    color:white;
    width: 100vw;
    height: 100px;
    min-height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.cabeza_contenedor img{
    width: 5vw;
    padding: 1vw;
}

.cabeza_contenedor input{
    width: 40%;
    margin: 5vw;
    padding: 10px;
}

/* menu */
.boton_cerrar{
    border: 0;
    background-color: white;
    cursor: pointer;
}

.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    max-width: 550px;
    top: 0;
    right: 0;
    background-color: black;
    bottom: 0;
    position: fixed;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav_lista{
    text-align: right;
}

.nav_lista li a{
    display: block; 
    padding: 15px 0;
    text-decoration: none;
    color: white;
}

.nav_lista li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* cuerpo */

section{
    display: flex;
    margin-top: 7vw;
    width: 100vw;
    justify-content: center;
}

.contacto_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    height: 25vh;
    overflow: hidden;
}

.contacto_info{
    margin: 2vw;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

section img{
    width: 20vw;
    max-height: 90px;
    padding-left: 10px;
}

.contacto_contenedor button{
    /*background-color: transparent;
    border: none;*/
}

.botones_contacto img{
    width: 5vw;
    max-height: 20px;
}

footer{
    margin-top: 50px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

