@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-y: hidden;
}

header{
    height: 80px;
    width: 100vw;
    color: white;
    background-color: rgb(55, 108, 133);
    margin-bottom: 50px;
}

.items_header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.items_header img{
    height: 30px;
    padding-left: 15px;
}

.items_header p{
    padding-left: 15px;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 25px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 550px;
    top: 80px;
    background-color: rgb(208, 215, 219);
    bottom: 0;
    position: fixed;
    width: 200px;
}

.boton_contenedor{
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.boton{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background:none;
    border: none;
    padding: 15px;
    width: 200px;
    height: 100%;
}

.boton:hover{
    background-color: rgb(20, 78, 105);
    color: white;
}

.boton_contenedor img{
    height: 25px;
}

.tablero{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100vh;
}

.tablero input{
    width: 15vw;
    padding: 5px;
    margin: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black; 
    font-size: 15px;
    text-align: center;
}

.tablero .input_descripcion{
    border: 0.5px solid black;
    height: 10vh;
}

.nuevo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.nuevo button{
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.nuevo select{
    margin: 15px;
    padding: 10px;
    font-size: 18px;
}

.mostrar{
    display: none;
}